html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}
article,
aside,
details,
figcaption,
figure,
footer,

hgroup,
menu,

section {
  display:block
}
body {
  line-height:1
}
ol,
ul {
  list-style:none
}
blockquote,
q {
  quotes:none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content:'';
  content:none
}
table {
  border-collapse:collapse;
  border-spacing:0
}
@font-face {
  font-family:"Suisse Intl";
  src:url("../webfonts/SuisseIntl-Regular-WebXL.woff2") format("woff2"),
  url("../webfonts/SuisseIntl-Regular-WebXL.woff") format("woff");
  font-weight:normal;
  font-style:normal
}
@font-face {
  font-family:"Suisse Intl";
  src:url("../webfonts/SuisseIntl-RegularItalic-WebXL.woff2") format("woff2"),
  url("../webfonts/SuisseIntl-RegularItalic-WebXL.woff") format("woff");
  font-weight:normal;
  font-style:italic
}
body,
input {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  body,
  input {
    font-size:18px;
  }
}
@media (max-width: 1000px) {
  body,
  input {
    font-size:14px;
    line-height:21px
  }
}
img {
  display:block
}
a {
  text-decoration:none;
  color:#000
}
html {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow-y:scroll;
  word-wrap:break-word;
  -webkit-text-size-adjust:100%;
  box-sizing:border-box
}
*,
*:before,
*:after {
  box-sizing:inherit
}
body {
  position:relative
}
em {
  font-style:italic
}
:root {
  --space-left:65px;
  --space-right:65px;
  --logo-width:350px
}
@media (max-width: 1000px) {
  :root {
    --space-left:20px;
    --space-right:20px;
    --logo-width:166px
  }
}
.clickable-block {
  cursor:pointer;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  -webkit-user-select:none;
  user-select:none
}
.fx-grid {
  display:grid;
  grid-template-columns:repeat(8, 9.83232%);
  grid-column-gap:3.04878%
}
.fx-right-v-border {
  position:relative
}
.fx-right-v-border:before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  right:-4.10678%;
  border-right:2px solid #000
}
.fx-underline-ani {
  position:relative
}
.fx-underline-ani:after {
  -moz-transition:width 250ms;
  -o-transition:width 250ms;
  -webkit-transition:width 250ms;
  transition:width 250ms;
  content:"";
  border-bottom:2px solid #000;
  position:absolute;
  overflow:hidden;
  bottom:-3px;
  left:0;
  width:0
}
.no-touch .fx-underline-ani:hover:after {
  width:100%
}
.fx-text-format h1 {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0
}
@media (max-width: 1225px) {
  .fx-text-format h1 {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .fx-text-format h1 {
    font-size:23px;
    line-height:31px
  }
}
.fx-text-format h2 {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  .fx-text-format h2 {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .fx-text-format h2 {
    font-size:20px;
    line-height:27px
  }
}
.fx-text-format h2+h1 {
  margin-top:14px
}
.fx-text-format h2+p {
  margin-top:1.409em
}
.fx-text-format p+p {
  margin-top:1.409em
}
.fx-text-format a {
  border-bottom:2px solid
}
.no-touch .fx-text-format a:hover {
  color:#7f7f7f
}
.fx-max-width {
  max-width:1600px;
  margin-left:auto;
  margin-right:auto
}
.js-scroll-fade {
  -moz-transition:-moz-transform 700ms ease,opacity 700ms ease;
  -o-transition:-o-transform 700ms ease,opacity 700ms ease;
  -webkit-transition:-webkit-transform 700ms ease,opacity 700ms ease;
  transition:transform 700ms ease,opacity 700ms ease;
  -moz-transform:translateY(50px);
  -ms-transform:translateY(50px);
  -webkit-transform:translateY(50px);
  transform:translateY(50px);
  opacity:0
}
.js-scroll-fade--faded {
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -webkit-transform:translateY(0);
  transform:translateY(0);
  opacity:1
}
.lazyload-container {
  display:block;
  position:relative
}
.lazyload-container--contain .lazyimage {
  object-fit:contain
}
.lazyimage {
  -moz-transition:opacity 250ms;
  -o-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  transition:opacity 250ms;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  object-fit:cover
}
.lazyloaded {
  opacity:1
}
.header__top {
  padding-left:var(--space-left);
  padding-right:var(--space-right)
}
.header {
  position:absolute;
  width:100%;
  left:0;
  right:0;
  height:0;
  z-index:5000
}
.header--white:not(.header--show-menu):not(.header--ts-active) .logo__item-black {
  display:none
}
.header--white:not(.header--show-menu):not(.header--ts-active) .logo__item-white {
  display:block
}
.header--white:not(.header--show-menu):not(.header--ts-active) .header__menu-button {
  color:#fff;
  border-color:#fff
}
.header--pin {
  position:fixed
}
.header--pin .header__top {
  -moz-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
  transform:translateY(-100%);
  background-color:#fff;
  position:fixed
}
.header--ts-active .header__top {
  -moz-transition:-moz-transform 250ms,background-color 250ms;
  -o-transition:-o-transform 250ms,background-color 250ms;
  -webkit-transition:-webkit-transform 250ms,background-color 250ms;
  transition:transform 250ms,background-color 250ms
}
.header--pin-show .header__top {
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -webkit-transform:translateY(0);
  transform:translateY(0)
}
.header__top {
  -moz-transition:background-color 250ms;
  -o-transition:background-color 250ms;
  -webkit-transition:background-color 250ms;
  transition:background-color 250ms;
  position:absolute;
  width:100%;
  z-index:100
}
.header__top-inner {
  -webkit-justify-content:space-between;
  justify-content:space-between;
  -webkit-align-items:center;
  align-items:center;
  -webkit-display:flex;
  display:flex;
  margin-top:47px;
  margin-bottom:40px;
  position:relative;
  height:65px;
  top:0
}
.no-touch .logo:hover {
  opacity:.5
}
.logo__item {
  display:block;
  width:var(--logo-width);
  margin-top:5px
}
.logo__item-white {
  display:none
}
.header__menu-button {
  -moz-transition:opacity 250ms;
  -o-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  transition:opacity 250ms;
  cursor:pointer;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  border:2px solid #000;
  border-radius:100px;
  display:inline-block;
  padding:15px 30px;
  position:absolute;
  right:0;
  top:0;
  opacity:1
}
.no-touch .header__menu-button:hover {
  opacity:0.5
}
.header__menu-close {
  display:none
}
.header__menu-close-button {
  -moz-transition:opacity 250ms;
  -o-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  transition:opacity 250ms;
  cursor:pointer;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  display:block;
  background-image:url("../elements/icon_close.svg");
  background-size:contain;
  background-repeat:no-repeat;
  width:25px;
  height:25px
}
.no-touch .header__menu-close-button:hover {
  opacity:0.5
}
.header__content {
  -moz-transition:-moz-transform 250ms;
  -o-transition:-o-transform 250ms;
  -webkit-transition:-webkit-transform 250ms;
  transition:transform 250ms;
  -moz-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
  transform:translateY(-100%);
  background-color:#fff;
  padding-top:150px;
  padding-bottom:56px;
  padding-left:var(--space-left);
  padding-right:var(--space-right)
}
.header--slide-menu .header__content {
  -moz-transform:translateY(0);
  -ms-transform:translateY(0);
  -webkit-transform:translateY(0);
  transform:translateY(0)
}
.header--show-menu .header__menu {
  opacity:1
}
.header__menu {
  -moz-transition:opacity 250ms;
  -o-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  transition:opacity 250ms;
  opacity:0
}
.header__menu-items {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  -webkit-display:flex;
  display:flex
}
@media (max-width: 1225px) {
  .header__menu-items {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .header__menu-items {
    font-size:20px;
    line-height:27px
  }
}
.header__menu-items>li+li {
  margin-left:75px
}
.header__menu-item {
  position:relative
}
.no-touch .header__menu-item:hover .header__menu-link:after {
  width:100%
}
.header__menu-link {
  cursor:pointer;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  position:relative
}
.header__menu-link:after {
  -moz-transition:width 250ms;
  -o-transition:width 250ms;
  -webkit-transition:width 250ms;
  transition:width 250ms;
  content:"";
  border-bottom:2px solid #000;
  position:absolute;
  overflow:hidden;
  bottom:-12px;
  left:0;
  width:0
}
.placeholder-header__submenu {
  -moz-transition:height 250ms;
  -o-transition:height 250ms;
  -webkit-transition:height 250ms;
  transition:height 250ms;
  height:0
}
.wrap-header__submenu {
  position:absolute;
  top:35px;
  left:0;
  height:0;
  white-space:nowrap;
  overflow:hidden
}
.header__submenu {
  -moz-transition:opacity 250ms;
  -o-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
  transition:opacity 250ms;
  opacity:0;
  padding-top:30px
}
.header__submenu>li+li {
  margin-top:25px
}
.no-touch .header__submenu-item:hover {
  color:#7f7f7f
}
.header__menu-item--submenuheight .wrap-header__submenu {
  height:auto
}
.header__menu-item--fadesubmenu .header__submenu {
  opacity:1
}

.main__inner {
  padding-left:var(--space-left);
  padding-right:var(--space-right);
  padding-bottom: 40px;
  min-height:calc(100vh - 295px)
}
.main__inner--no-space {
  padding-top:0
}
.page-top__content {
  width:74.2378%
}
.page-top__title {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0
}
@media (max-width: 1225px) {
  .page-top__title {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .page-top__title {
    font-size:23px;
    line-height:31px
  }
}
*+.page-top__title {
  margin-top:46px
}
.page-top__intro {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  .page-top__intro {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .page-top__intro {
    font-size:20px;
    line-height:27px
  }
}
.page-top__title+.page-top__intro {
  margin-top:40px
}
.page-top__back:before {
  content:"←";
  display:inline-block;
  padding-right:4px;
  position:relative;
  top:-3px
}
.page-column+.page-column {
  margin-top:75px
}
.page-top+.page-column {
  margin-top:45px
}
.page-column:last-child.page-column--research {
  padding-bottom:75px
}
.page-research .page-column:last-child {
  padding-bottom:75px
}
.page-column__content {
  grid-column:span 6
}
.page-filter {
  margin-bottom:35px
}
*+.page-filter {
  margin-top:40px
}
.page-top+.page-filter {
  margin-top:60px
}
.featured-news+.page-filter {
  margin-top:60px
}
.page-filter__border {
  display:inline-block;
  width:30px;
  border-bottom:2px solid #000;
  position:relative;
  top:-6px
}
.page-filter__content {
  display:inline-block;
  position:relative
}
.no-touch .page-filter__content:hover .page-filter__button:after {
  width:100%
}
.page-filter__button {
  cursor:pointer;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  position:relative
}
.page-filter__button:after {
  -moz-transition:width 250ms;
  -o-transition:width 250ms;
  -webkit-transition:width 250ms;
  transition:width 250ms;
  content:"";
  border-bottom:2px solid #000;
  position:absolute;
  overflow:hidden;
  bottom:-7px;
  left:0;
  width:0
}
.page-filter__button-arrow {
  background-image:url("../elements/icon_arrow_down.svg");
  background-repeat:no-repeat;
  background-size:contain;
  display:inline-block;
  width:0.727em;
  height:0.727em;
  position:relative;
  right:1px;
  top:1px
}
.page-filter__placeholder {
  -moz-transition:height 250ms;
  -o-transition:height 250ms;
  -webkit-transition:height 250ms;
  transition:height 250ms;
  height:0
}
.page-filter__wrap {
  overflow:hidden;
  position:absolute;
  top:29px;
  height:0;
  white-space:nowrap
}
.page-filter__items {
  -moz-transition:opacity 250ms,visibility 250ms;
  -o-transition:opacity 250ms,visibility 250ms;
  -webkit-transition:opacity 250ms,visibility 250ms;
  transition:opacity 250ms,visibility 250ms;
  opacity:0;
  visibility:hidden;
  padding-top:26px
}
.no-touch .page-filter__item a:hover {
  color:#7f7f7f
}
.page-filter__item+.page-filter__item {
  margin-top:10px
}
.page-filter__content--open .page-filter__wrap {
  height:auto
}
.page-filter__content--open .page-filter__button:after {
  width:100%
}
.page-filter__content--visibile .page-filter__items {
  opacity:1;
  visibility:visible
}
.preview-projects {
  display:grid;
  grid-template-columns:repeat(6, 13.24435%);
  grid-column-gap:4.10678%;
  margin-bottom:-42px;
}
.preview-project {
  grid-column:span 3;
  margin-bottom:42px
}
.no-touch .preview-project:hover .preview-project__image {
  opacity:0.5
}
.preview-project__image:after {
  content:"";
  display:block;
  padding-bottom:66.738%
}
.preview-project__title {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  display:block;
  margin-top:15px
}
@media (max-width: 1225px) {
  .preview-project__title {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .preview-project__title {
    font-size:20px;
    line-height:27px
  }
}
.page-column__side {
  grid-column:span 2;
  padding-left:13.42282%;
  position:relative
}
.side-item__image {
  display:block;
  position:relative
}
.side-item__image+.side-item__text {
  padding-top:30px
}
.side-item__title {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  .side-item__title {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) {
  .side-item__title {
    font-size:14px;
    line-height:21px
  }
}
.side-item__text {
  font:normal 16px/23px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.015em
}
@media (max-width: 1225px) {
  .side-item__text {
    font-size:13px;
    line-height:18px
  }
}
@media (max-width: 1000px) {
  .side-item__text {
    font-size:12px;
    line-height:19px
  }
}
.side-item__title+.side-item__text {
  margin-top:23px
}
.side-item__text p+p {
  margin-top:23px
}
.side-item--bottom {
  position:absolute;
  bottom:0
}
.side-item--auto-position,
.side-item--carousel {
  opacity:0;
  position:absolute;
  top:0;
  left:13.42282%;
  width:calc(100% - 13.42282%);
  visibility:hidden
}
.no-touch .side-item--carousel:hover {
  color:#7f7f7f
}
.page-column__side--hovered .side-item--active {
  opacity:0;
  visibility:hidden
}
.page-column__side--hovered .side-item--hover {
  opacity:1;
  visibility:visible
}
.side-item--active-forced,
.side-item--active {
  opacity:1;
  visibility:visible
}
.side-item--hover {
  color:#7f7f7f
}
.loadmore {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0;
  margin-top:148px
}
@media (max-width: 1225px) {
  .loadmore {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .loadmore {
    font-size:23px;
    line-height:31px
  }
}
.no-touch .loadmore a:hover {
  color:#7f7f7f
}
.preview-researches+.loadmore {
  margin-top:138px
}
.page-research .main {
  background-color:#FDF0ED
}
.preview-researches {
  display:grid;
  grid-template-columns:repeat(6, 13.24435%);
  grid-column-gap:4.10678%
}
.preview-research-group {
  grid-column:span 6;
  display:grid;
  grid-template-columns:repeat(6, 13.24435%);
  grid-column-gap:4.10678%
}
.preview-research-group+.preview-research-group {
  margin-top:4.10678%
}
.preview-research-group__vertical {
  grid-column:span 3
}
.preview-research-group__vertical .preview-research:first-child {
  margin-bottom:8.56531%
}
.preview-research {
  grid-column:span 3
}
.no-touch .preview-research:hover .preview-research__image img {
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
  mix-blend-mode:normal
}
.preview-research__image {
  background-color:#FDF0ED
}
.preview-research__image img {
  -webkit-filter:grayscale(1);
  filter:grayscale(1);
  mix-blend-mode:multiply
}
.preview-research--landscape .preview-research__image:after {
  content:"";
  display:block;
  padding-bottom:66.523%
}
.preview-research--portrait .preview-research__image:after {
  content:"";
  display:block;
  padding-bottom:142.0600%
}
.preview-relatednews {
  grid-column:span 3
}
.no-touch .preview-relatednews:hover .preview-relatednews__image {
  -webkit-filter:grayscale(0);
  filter:grayscale(0);
  mix-blend-mode:normal
}
.preview-relatednews__image {
  -webkit-filter:grayscale(1);
  filter:grayscale(1);
  background-color:#FDF0ED;
  mix-blend-mode:multiply
}
.preview-relatednews--landscape .preview-relatednews__image:after {
  content:"";
  display:block;
  padding-bottom:66.523%
}
.preview-relatednews--portrait .preview-relatednews__image:after {
  content:"";
  display:block;
  padding-bottom:142.0600%
}
.block-people {
  margin-bottom:52px
}
*+.block-people {
  margin-top:52px
}
.people-list {
  display:grid;
  -webkit-grid-column-gap:3.04878%;
  grid-column-gap:2.6255%;
  grid-template-columns:repeat(5, 1fr);
  margin-bottom:-40px
}
.person {
  margin-bottom:40px
}
.no-touch .person:hover .person__link:after {
  width:100%
}
.person__image:after {
  content:"";
  padding-bottom:100%;
  display:block
}
.person__name {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  margin-top:15px
}
@media (max-width: 1225px) {
  .person__name {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) {
  .person__name {
    font-size:14px;
    line-height:21px
  }
}
.person__link {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  position:relative;
  display:inline-block;
  margin-top:5px
}
@media (max-width: 1225px) {
  .person__link {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) {
  .person__link {
    font-size:14px;
    line-height:21px
  }
}
.person__link:after {
  -moz-transition:width 250ms;
  -o-transition:width 250ms;
  -webkit-transition:width 250ms;
  transition:width 250ms;
  content:"";
  border-bottom:2px solid #000;
  position:absolute;
  overflow:hidden;
  bottom:-2px;
  left:0;
  width:0
}
.block-person {
  margin-top:40px;
  margin-bottom:164px
}
.block-person__image-wrap {
  grid-column:span 3
}
.block-person__image:after {
  content:"";
  padding-bottom:100%;
  display:block
}
.block-person__content {
  grid-column:span 5
}
.block+.block {
  margin-top:50px
}
.block--in-column {
  width:82.64887%
}
.block--intro {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  .block--intro {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .block--intro {
    font-size:20px;
    line-height:27px
  }
}
.block--text p+p {
  margin-top:1.409em
}
.block--text a {
  text-decoration:underline
}
.no-touch .block--text a:hover {
  opacity:.5
}
.block--images-2up {
  display:grid;
  grid-template-columns:repeat(6, 13.24435%);
  grid-column-gap:4.10678%
}
.block--image-2up {
  grid-column:span 3
}
.block--large {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0
}
@media (max-width: 1225px) {
  .block--large {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .block--large {
    font-size:23px;
    line-height:31px
  }
}
.block-carousel {
  position:relative
}
.block-carousel__cell {
  position:absolute;
  width:100%;
  margin-left:4.10678%
}
.no-touch .block-carousel__cell:hover {
  opacity:0.5
}
.block-carousel__cell--hovered {
  opacity:0.5
}
.block-carousel__cell-image:after {
  content:"";
  padding-bottom:56.25%;
  display:block
}
.block-carousel__cell-newsimage:after {
  content:"";
  padding-bottom:66.738%;
  display:block
}
.block-carousel__more,
.homepage-all-research {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0;
  display:inline-block;
  position:relative;
  margin-top:30px
}
@media (max-width: 1225px) {
  .block-carousel__more,
  .homepage-all-research {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .block-carousel__more,
  .homepage-all-research {
    font-size:23px;
    line-height:31px
  }
}
.block-carousel__more:after,
.homepage-all-research:after {
  -moz-transition:width 250ms;
  -o-transition:width 250ms;
  -webkit-transition:width 250ms;
  transition:width 250ms;
  content:"";
  border-bottom:4px solid #000;
  position:absolute;
  overflow:hidden;
  bottom:1px;
  left:0;
  width:0
}
.no-touch .block-carousel__more:hover:after,
.no-touch .homepage-all-research:hover:after {
  width:100%
}
.homepage-all-research {
  margin-top:75px
}
.carousel-placeholder-cell {
  width:47.94661%
}
.iframe-container {
  position:relative
}
.iframe-container:after {
  content:"";
  padding-bottom:56.25%;
  display:block
}
.iframe-container iframe {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%
}
.project-carosuel {
  margin-left:calc(-1 * var(--space-left));
  width:calc(100% + var(--space-left) + var(--space-right));
  margin-top:48px;
  padding-bottom:120px;
  position:relative
}
.project-carosuel__items {
  position:relative
}
.project-carosuel__cell-image:after {
  content:"";
  padding-bottom:56.25%;
  display:block
}
.project-carosuel__cell {
  position:absolute;
  width:100%
}
.flickity-viewport {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden
}
.flickity-enabled:focus {
  outline:none
}
.flickity-page-dots {
  -webkit-display:flex;
  display:flex;
  padding-left:var(--space-left);
  padding-right:var(--space-right);
  position:absolute;
  bottom:-63px
}
.flickity-page-dots .dot {
  cursor:pointer;
  -moz-user-select:-moz-none;
  -ms-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  border-radius:50%;
  border:2px solid #000;
  width:25px;
  height:25px
}
.no-touch .flickity-page-dots .dot:not(.is-selected):hover {
  opacity:.5
}
.flickity-page-dots .dot+.dot {
  margin-left:10px
}
.flickity-page-dots .dot.is-selected {
  cursor:default;
  background-color:#000
}
.block-carousel .flickity-page-dots {
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
  padding-left:0;
  padding-right:0;
  right:0
}
.scrollable {
  width:calc(100% + 4.10678%);
  overflow:hidden;
  height:200px
}
.scrollable__content {
  height:100%
}
.scrollable__content:not(.mCustomScrollbar),
.scrollable__content.mCustomScrollbar.mCS_no_scrollbar {
  padding-right:30px
}
.scrollable__title {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0;
  margin-bottom:44px
}
@media (max-width: 1225px) {
  .scrollable__title {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .scrollable__title {
    font-size:23px;
    line-height:31px
  }
}
.scrollable__items {
  display:grid;
  grid-template-columns:repeat(6, 13.24435%);
  grid-column-gap:4.10678%;
  position:relative
}
.scrollable__item {
  grid-column:span 3;
  margin-bottom:21px
}
.no-touch .scrollable__item a:hover {
  color:#7f7f7f
}
.scrollable__item-title {
  display:block
}
.scrollable__item-award {
  display:block;
  font-style:italic
}
.related__title {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0;
  margin-bottom:40px
}
@media (max-width: 1225px) {
  .related__title {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .related__title {
    font-size:23px;
    line-height:31px
  }
}
.related__items {
  display:grid;
  grid-template-columns:repeat(6, 13.24435%);
  grid-column-gap:4.10678%
}
.related__items--projects {
  margin-bottom:-42px
}
.block-news {
  margin-bottom:52px
}
.featured-news {
  margin-top:45px
}
.no-touch .featured-news .clickable-block:hover {
  opacity:.5
}
.featured-news__image {
  grid-column:span 4
}
.featured-news__image:after {
  content:"";
  padding-bottom:66.5060%;
  display:block
}
.featured-news__content {
  grid-column:span 3
}
.featured-news__content-title {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  .featured-news__content-title {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .featured-news__content-title {
    font-size:20px;
    line-height:27px
  }
}
.featured-news__content-text {
  margin-top:22px
}
.featured-news__content-meta {
  margin-top:27px
}
.news-list {
  display:grid;
  -webkit-grid-column-gap:3.04878%;
  grid-column-gap:3.04878%;
  grid-template-columns:repeat(3, 1fr);
  margin-bottom:-40px
}
.preview-news {
  margin-bottom:60px
}
.no-touch .preview-news:hover {
  opacity:.5
}
.preview-news__image {
  background-color:#000;
  margin-bottom:15px
}
.preview-news__image:after {
  content:"";
  padding-bottom:66.5060%;
  display:block
}
.preview-news__title {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  .preview-news__title {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .preview-news__title {
    font-size:20px;
    line-height:27px
  }
}
.preview-news__meta {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  margin-top:15px
}
@media (max-width: 1225px) {
  .preview-news__meta {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) {
  .preview-news__meta {
    font-size:14px;
    line-height:21px
  }
}
.preview-news__meta-readmore {
  border-bottom:2px solid
}
.page-top+.block-contact {
  margin-top:74px
}
.block-contact+.block-contact {
  margin-top:67px
}
.block-contact:last-child {
  margin-bottom:51px
}
.contact__text {
  grid-column:span 4;
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em
}
@media (max-width: 1225px) {
  .contact__text {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .contact__text {
    font-size:20px;
    line-height:27px
  }
}
.contact__text p+p {
  margin-top:38px
}
.contact__text a {
  border-bottom:2px solid
}
.no-touch .contact__text a:hover {
  color:#7f7f7f
}
.contact__map {
  grid-column:span 4
}
.contact__map:after {
  content:"";
  padding-bottom:68.5039%;
  display:block
}
.map {
  position:absolute !important;
  left:0;
  top:0;
  height:100%;
  width:100%
}
.block-contact--text .block-contact__content {
  width:48.47561%
}
.block-recognition {
  margin-bottom:133px
}
.recognition-column {
  grid-column:span 4
}
.recognition-column__group {
  margin-top:45px
}
.recognition-column__group+.recognition-column__group {
  margin-top:36px
}
.recognition-column__year {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  margin-bottom:18px
}
@media (max-width: 1225px) {
  .recognition-column__year {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) {
  .recognition-column__year {
    font-size:14px;
    line-height:21px
  }
}
.no-touch .recognition-column__item a:hover {
  color:#7f7f7f
}
.recognition-column__item+.recognition-column__item {
  margin-top:36px
}
.recognition-column__title {
  font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0;
  position:sticky;
  top:0;
  background:#fff;
  transition:top 250ms
}
@media (max-width: 1225px) {
  .recognition-column__title {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) {
  .recognition-column__title {
    font-size:23px;
    line-height:31px
  }
}
.is-header-pinned .recognition-column__title {
  top:152px
}
.recognition-column__award-project,
.recognition-column__press-title {
  font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  display:block
}
@media (max-width: 1225px) {
  .recognition-column__award-project,
  .recognition-column__press-title {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) {
  .recognition-column__award-project,
  .recognition-column__press-title {
    font-size:20px;
    line-height:27px
  }
}
.recognition-column__award-title {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  display:block
}
@media (max-width: 1225px) {
  .recognition-column__award-title {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) {
  .recognition-column__award-title {
    font-size:14px;
    line-height:21px
  }
}
.recognition-column__press-publisher {
  font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.01em;
  font-style:italic;
  display:block
}
@media (max-width: 1225px) {
  .recognition-column__press-publisher {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) {
  .recognition-column__press-publisher {
    font-size:14px;
    line-height:21px
  }
}
.homepage-hero {
  margin-left:calc(-1 * var(--space-left));
  width:calc(100% + var(--space-left) + var(--space-right))
}
.homepage-hero+* {
  margin-top:75px
}
.homepage-hero__carousel {
  position:relative
}
.homepage-hero__cell {
  position:absolute;
  width:100%
}
.homepage-hero__cell-image:after {
  content:"";
  padding-bottom:56.25%;
  display:block
}
.homepage-hero__cell-video:after {
  content:"";
  padding-bottom:56.25%;
  display:block
}
.homepage-hero__cell-video iframe {
  border:none;
  width:100%;
  height:100%;
  position:absolute;
  object-fit:cover
}
.homepage-hero__cell-caption {
  font:normal 16px/23px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.015em;
  bottom:36px;
  padding-left:var(--space-left);
  padding-right:var(--space-right);
  position:absolute
}
@media (max-width: 1225px) {
  .homepage-hero__cell-caption {
    font-size:13px;
    line-height:18px
  }
}
@media (max-width: 1000px) {
  .homepage-hero__cell-caption {
    font-size:12px;
    line-height:19px
  }
}
.homepage-hero__cell-caption-content {
  max-width:350px
}
.homepage-wrap-research {
  background-color:#FDF0ED;
  margin-left:calc(-1 * var(--space-left));
  width:calc(100% + var(--space-left) + var(--space-right));
  padding-left:var(--space-left);
  padding-right:var(--space-right);
  padding-top:80px
}
*+.homepage-wrap-research {
  margin-top:75px
}
.cb-lightbox-close {
  padding:10px;
  right:39px;
  top:32px;
  width:34px;
  height:34px
}
.cb-lightbox-slide-with-caption .cb-lightbox-caption {
  font:normal 16px/23px "Suisse Intl",Helvetica,Arial,sans-serif;
  letter-spacing:0.015em;
  padding-top:24px
}
@media (max-width: 1225px) {
  .cb-lightbox-slide-with-caption .cb-lightbox-caption {
    font-size:13px;
    line-height:18px
  }
}
@media (max-width: 1000px) {
  .cb-lightbox-slide-with-caption .cb-lightbox-caption {
    font-size:12px;
    line-height:19px
  }
}
.mCSB_scrollTools {
  opacity:1;
  margin-right:12px;
  width:10px
}
.mCSB_scrollTools .mCSB_draggerRail {
  background-color:transparent;
  width:10px
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color:rgba(0,0,0,0.14) !important;
  width:10px
}
.fx-show-on-mobile,
.block-carousel__mobile,
.preview-news--featured {
  display:none
}
#bp {
  width:2px
}
@media (max-width: 1000px) {
  #bp {
    width:1px
  }
  .fx-hide-on-mobile {
    display:none
  }
  .fx-show-on-mobile {
    display:block
  }
  .fx-right-v-border:before {
    content:none
  }
  *+.fx-text-format h2 {
    margin-top:6px
  }
  .fx-text-format h2+p {
    margin-top:13px
  }
  .fx-text-format a {
    border-bottom-width:1px
  }
  .fx-text-format p+p {
    margin-top:21px
  }
  .main__inner {
    padding-top:94px
  }
  .main__inner--no-space {
    padding-top:74px
  }
  .header--white:not(.header--show-menu):not(.header--ts-active) .logo__item-black {
    display:block
  }
  .header--white:not(.header--show-menu):not(.header--ts-active) .logo__item-white {
    display:none
  }
  .header--white:not(.header--show-menu):not(.header--ts-active) .header__menu-button {
    color:#000;
    border-color:#000
  }
  .header__top-inner {
    height:27px;
    margin-top:24px;
    margin-bottom:23px
  }
  .logo__item {
    margin-top:0
  }
  .header__menu-button {
    font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0.01em;
    border:0;
    padding:0;
    top:0
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .header__menu-button {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .header__menu-button {
    font-size:20px;
    line-height:27px
  }
}
@media (max-width: 1000px) {
  .header__content {
    padding-top:85px;
    padding-bottom:31px
  }
  .header__menu-items {
    font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0;
    display:block
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .header__menu-items {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .header__menu-items {
    font-size:23px;
    line-height:31px
  }
}
@media (max-width: 1000px) {
  .header__menu-items li+li {
    margin-left:0;
    margin-top:22px
  }
  .wrap-header__submenu {
    top:30px
  }
  .header__submenu {
    padding-top:22px;
    padding-left:25px
  }
  .header__menu-link-toggle {
    position:relative
  }
  .header__menu-link-toggle:before {
    content:"";
    -moz-transition:-moz-transform 250ms;
    -o-transition:-o-transform 250ms;
    -webkit-transition:-webkit-transform 250ms;
    transition:transform 250ms;
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -webkit-transform:scale(1);
    transform:scale(1);
    background-image:url("../elements/icon_arrow_down.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    display:block;
    width:16px;
    height:18px;
    position:absolute;
    right:-24px;
    top:5px
  }
  .header__menu-item--submenuheight .header__menu-link-toggle:before {
    -moz-transform:scale(-1);
    -ms-transform:scale(-1);
    -webkit-transform:scale(-1);
    transform:scale(-1)
  }
  .footer {
    padding-top:24px;
    padding-bottom:49px
  }
  .footer-address,
  .footer-contact {
    grid-column:span 8
  }
  .footer-address p+p {
    margin-top:23px
  }
  .footer__logo {
    width:240px;
    margin-bottom:24px
  }
  .footer-contact {
    font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0.01em;
    padding-left:0;
    margin-top:18px
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .footer-contact {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .footer-contact {
    font-size:14px;
    line-height:21px
  }
}
@media (max-width: 1000px) {
  .page-column+.page-column {
    margin-top:32px
  }
  .page-column.page-column--carousel+.page-column--carousel {
    margin-top:52px
  }
  .page-column.page-column--scrollable+.page-column--scrollable {
    margin-top:41px
  }
  .page-column+.page-column--scrollable {
    margin-top:50px
  }
  .page-column__content {
    grid-column:span 8
  }
  .page-column__side {
    display:none
  }
  .page-column:last-child {
    padding-bottom:43px
  }
  .page-column:last-child.page-column--research {
    padding-bottom:43px
  }
  .homepage-hero+* {
    margin-top:35px
  }
  .flickity-page-dots {
    display:none
  }
  .block-carousel__mobile {
    font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0.01em;
    display:block;
    position:relative;
    margin-top:15px
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .block-carousel__mobile {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .block-carousel__mobile {
    font-size:20px;
    line-height:27px
  }
}
@media (max-width: 1000px) {
  .block-carousel__title {
    width:74.2378%
  }
  .block-carousel__counter {
    -webkit-display:flex;
    display:flex;
    position:absolute;
    right:0;
    top:0
  }
  .block-carousel__counter-arrow {
    background-image:url("../elements/icon_arrow_right.svg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
    width:18px;
    height:18px;
    margin-left:6px;
    margin-top:4px
  }
  .block-carousel__more {
    margin-top:36px
  }
  .carousel-placeholder-cell {
    width:100%
  }
  .block-carousel__cell-image:after {
    padding-bottom:66.738%
  }
  .homepage-wrap-research {
    padding-top:20px;
    padding-bottom:43px
  }
  *+.homepage-wrap-research {
    margin-top:42px
  }
  .preview-researches {
    display:block
  }
  .preview-research-group {
    display:block
  }
  *+.preview-research {
    margin-top:35px
  }
  .preview-research__title {
    font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0.01em;
    margin-top:15px
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .preview-research__title {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .preview-research__title {
    font-size:20px;
    line-height:27px
  }
}
@media (max-width: 1000px) {
  *+.preview-research-group__vertical {
    margin-top:35px
  }
  .preview-research-group__vertical .preview-research:first-child {
    margin-bottom:0
  }
  .homepage-all-research {
    margin-top:35px
  }
  .page-top {
    width:100%
  }
  .page-top+.page-column {
    margin-top:13px
  }
  .page-top+.block-contact {
    margin-top:30px
  }
  .page-top__intro {
    font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0.01em
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .page-top__intro {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .page-top__intro {
    font-size:14px;
    line-height:21px
  }
}
@media (max-width: 1000px) {
  *+.page-top__title {
    margin-top:15px
  }
  .page-top__title+.page-top__intro {
    margin-top:18px
  }
  .page-top+.page-filter {
    margin-top:23px
  }
  .page-filter {
    margin-bottom:15px
  }
  .featured-news+.page-filter {
    margin-top:18px
  }
  .page-filter__border {
    border-bottom-width:1px;
    top:-4px
  }
  .page-filter__button:after {
    border-bottom-width:1px;
    bottom:-5px
  }
  .page-filter__button-arrow {
    width:11px;
    height:11px
  }
  .page-filter__wrap {
    top:21px
  }
  .page-filter__items {
    padding-top:13px;
    padding-bottom:5px
  }
  .page-filter__item+.page-filter__item {
    margin-top:5px
  }
  .preview-projects {
    display:block;
    margin-bottom:0
  }
  .preview-project {
    width:100%;
    margin-bottom:0
  }
  .preview-project+.preview-project {
    margin-top:35px
  }
  .loadmore {
    margin-top:40px
  }
  .preview-researches+.loadmore {
    margin-top:40px
  }
  .project-carosuel {
    margin-top:8px;
    padding-bottom:46px
  }
  .block--in-column {
    width:100%
  }
  .block+.block {
    margin-top:20px
  }
  .scrollable {
    height:auto !important;
    width:100%
  }
  .scrollable__title {
    margin-bottom:20px
  }
  .scrollable__items {
    display:block
  }
  .scrollable__item {
    margin-bottom:0
  }
  .scrollable__item+.scrollable__item {
    margin-top:19px
  }
  .scrollable__item:nth-child(n+4) {
    display:none
  }
  .scrollable-see-all-link {
    margin-top:22px
  }
  .scrollable-see-all-link a {
    border-bottom:1px solid
  }
  .related__title {
    margin-bottom:13px
  }
  .scrollable__content:not(.mCustomScrollbar) {
    padding-right:0
  }
  .block--intro {
    font:normal 22px/31px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0.01em
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .block--intro {
    font-size:18px;
    line-height:26px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .block--intro {
    font-size:14px;
    line-height:21px
  }
}
@media (max-width: 1000px) {
  .featured-news {
    display:none
  }
  .news-list {
    display:block;
    margin-bottom:0
  }
  .preview-news {
    margin-bottom:0
  }
  .preview-news+.preview-news {
    margin-top:42px
  }
  .preview-news--featured {
    display:block
  }
  .preview-news__meta-readmore {
    border-bottom-width:1px
  }
  .preview-news__meta-readmore+.preview-news__meta-readmore {
    margin-left:19px
  }
  *+.block-people {
    margin-top:33px
  }
  .people-list {
    display:block;
    margin-bottom:0
  }
  .person {
    margin-bottom:0
  }
  .person+.person {
    margin-top:38px
  }
  .person__name {
    font:normal 30px/42px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0.01em;
    margin-top:20px
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .person__name {
    font-size:25px;
    line-height:35px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .person__name {
    font-size:20px;
    line-height:27px
  }
}
@media (max-width: 1000px) {
  .person__link {
    margin-top:8px
  }
  .person__link:after {
    border-bottom-width:1px;
    bottom:3px;
    width:100%
  }
  .block-person {
    display:block;
    margin-top:20px;
    margin-bottom:43px
  }
  *+.block-person__content {
    margin-top:20px
  }
  .block-contact {
    -webkit-flex-direction:column;
    flex-direction:column;
    -webkit-display:flex;
    display:flex
  }
  .block-contact+.block-contact {
    margin-top:27px
  }
  *+.contact__map {
    margin-top:20px
  }
  .contact__text {
    margin-top:20px
  }
  .contact__text p+p {
    margin-top:27px
  }
  .block-contact--text .block-contact__content {
    width:100%
  }
  .block-recognition {
    padding-top:28px;
    margin-bottom:43px
  }
  .recognition-columns {
    display:block
  }
  .recognition-switch {
    font:normal 45px/60px "Suisse Intl",Helvetica,Arial,sans-serif;
    letter-spacing:0
  }
}
@media (max-width: 1000px) and (max-width: 1225px) {
  .recognition-switch {
    font-size:37px;
    line-height:48px
  }
}
@media (max-width: 1000px) and (max-width: 1000px) {
  .recognition-switch {
    font-size:23px;
    line-height:31px
  }
}
@media (max-width: 1000px) {
  .recognition-switch__button+.recognition-switch__button {
    margin-left:46px
  }
  .recognition-switch__button--active {
    position:relative
  }
  .recognition-switch__button--active:after {
    content:"";
    border-bottom:2px solid;
    position:absolute;
    bottom:3px;
    left:0;
    width:100%
  }
  .recognition-column {
    display:none
  }
  .recognition-column--active {
    display:block
  }
  .recognition-column__title {
    display:none
  }
  .recognition-column__group {
    margin-top:25px
  }
  .recognition-column__item+.recognition-column__item {
    margin-top:21px
  }
  .homepage-hero__cell-caption {
    bottom:12px
  }
  .homepage-hero__cell-caption-content {
    width:100%
  }
}
#grid {
  max-width:1600px;
  margin-left:auto;
  margin-right:auto;
  display:grid;
  grid-template-columns:repeat(8, 9.83232%);
  grid-column-gap:3.04878%;
  padding-left:var(--space-left);
  padding-right:var(--space-right);
  position:fixed;
  left:0;
  right:0;
  width:100%;
  height:100vh;
  top:0;
  opacity:0.2;
  pointer-events:none;
  z-index:10000
}
#grid.grid--hidden {
  display:none
}
#grid div {
  background:lime
}



body{
  font-family: 'Figtree', sans-serif;
  background-color:#ffffff;
  justify-content: center;
  color: #000000;
  margin-top: 4rem ;
padding-top: 20px;
}

html, body {
  height: 100%;
}

  .container{
    margin-bottom: 25px;
  }
.navbar {
  transition: background-color 0.3s ease;
    padding-top: 1.2rem;
  padding-bottom: 1.2rem; 
  padding-left: 2.3rem;
}

.hide-navbar {
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.navbar-brand{
  font-size: 28px;
  font-family: 'Figtree', sans-serif;
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
  color: #ffffff;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color:paleturquoise;
}

.navbar-toggler{
  margin-right: 40px;
  color:#ffffff;
}
 .navbar-toggler-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color:#ffffff;

}
 .navbar-toggler-icon:hover {
  color: paleturquoise;
}

.social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  background-color: none;
}

.line {
  width: 95%; /* Set the width to 100% to span the entire page */
  height: 1px; /* Set the height of the line */
  background-color:#5e5e5e ; /* Set the color of the line */
margin: auto; /* Center horizontally */
margin-bottom: 25px;
margin-top:15px;

}

main {
  min-height: 100vh;
  margin-top: 4rem ;

}

footer {
 
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
}
.leftpadding{
  padding-left: 15px;
}
.leftpadding h4{
  margin-top: 10px;
}

.paddingright{
  justify-content: center;
  display: block;
  padding-right:15px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 18px;
}

.footer-links li {
  display: inline-block;
}

.social-links {
  display: flex;
  justify-content: center;
}

.back-to-top {
  position: relative;
  float: right;
  margin-top: 10px;
}
.back-to-top:hover {
  color: paleturquoise;
  }

.copyright{
display: flex;
float:right;
right: 0;
bottom: 0px;
margin-top: 7px;
font-size: medium;
}
ul.list-white {
  list-style-type: none;
 
 text-decoration-color: #000000; 
}
ul.list-white li a {
  color: rgb(0, 0, 0); /* Set the color to white */
  text-decoration: none; /* Remove the underline */
  font-size: 19px;

}
.list-white li a:hover {
  color: paleturquoise;
}

li {
  display: inline-block;

}
.social-links {
  justify-content: center;
  padding-bottom: 0px ;
}
footer .social-links {
  justify-content: flex-end;
}

p{
  color: #000000;
}


footer .email-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Figtree', sans-serif;

}

footer .email-link:hover {
  color: paleturquoise;
}

footer .social-links a {
  margin: 0px 5px;
  color:rgb(0, 0, 0);
  border-radius: 20%;
  font-size: 19px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: paleturquoise;
}


@media (max-width: 768px) {
  
  .footer-links li {
    justify-content: center;
  }

.paddingright{
  justify-content: center;
  display: block;
  padding-right: 60px;
}
  footer .container {
    justify-content: center;
    display: block;

  }
}



.titlebody{
  padding-left: 10px;
  margin-bottom: 0px;

}
.container1{
  margin-right: 40px;
 margin-left: 40px; 
   min-height: 100%;
 display: flex;
 flex-direction: column;
 padding-bottom: 20px; /* footer height */
 text-align: justify;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px; /* Adjust the gap between grid items as per your preference */
  padding: 10px;

}

.grid-container > div {
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
}
.item1 {
  display:grid;
  grid-template-columns:repeat(2, 50%);
  grid-column-gap:4.10678%;
  margin-bottom:-42px;
}
.item1 {
  grid-column:span 3;
  margin-bottom:42px
}

.item2 {
  grid-column: span 1; /* Let each item span 2 columns */

}

.item1-content {
  width: 100%; /* Ensures the content stays within the item1's boundary */
}
.grid-container div.item2 {
  border-left: 2px solid #000000;
  text-align: left;
  padding-left: 20px;
}

